.display-flex {
  /* display: flex; */
}
.tab-nav {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  max-width: 330px;
  background-color: #383838;
  z-index: 99999;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.tab-nav.active {
  width: 75px;
}
.logo {
  display: block;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 78px;
  color: #42d392;
  margin: 39px 39px 0;
  margin-bottom: 0;
}
.logomini {
  width: 45px;
  height: 50px;
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 15px;
}
.nav-space {
  height: 78vh;
  /* width: 100%; */
  /* width: auto; */
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-space.active {
  margin: auto auto;
  margin-bottom: 0;
  margin-top: 36px;
}
.nav-space.active .text-menu{
  display: none;
}
.link-nav > .icon-logo {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.tab-nav-menu h2 {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  /* margin-left: 20px; */
  margin-bottom: 22px;
  /* margin-left: auto;
  margin-right: auto; */
}
.nav-menu-list {
  display: flex;
  flex-direction: column;
}
.link-nav {
  height: 50px;
  padding: calc(26px / 2);
  margin: 1px 0;
  display: flex;
  align-items: center;
}
.link-nav.more {
  padding-right: 155px;
}
.link-nav:hover {
  background: #484848;
  border-radius: 12px;
}
.link-nav:hover .icon-menu {
  display: block;
  height: 32px;
  width: 32px;
}
.nav-menu-list.active {
  margin-bottom: 20px;
}
.nav-menu-list.active a:first-child {
  margin-top: 40px;
}
.nav-menu-list .icon.icon-menu:first-child {
  border-radius: 50%;
}
.icon-menu {
  color: #35eb9a;
}
.tab-nav-more {
  width: 100%;
}

.text-menu {
  display: block;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 650;
  font-size: 20px;
  line-height: 26px;
  color: #4f4f4f;
  margin-left: 20px;
  color: #35eb9a;
}
.tab-nav-more .text-menu {
  width: 100%;
}

.layout-bg {
  position: fixed;
  z-index: 99999;
  width: 396px;
  left: -396px;
  margin-left: 75px;
  height: 100vh;
  background-color: #383838;
  border-left: 1px solid #35eb9a;
}

.layout-bg.active {
  left: 0;
}
